.serivicediv{
    width: 100%;
    height: max-content;
    padding-block: 50px;
    background-color: #ECEAF7;
    /* background-color: red; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.textholder{
    width: 57%;
    height: 60%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.textholder > h1{
    font-size: 45px;
    font-weight: 550;
    font-family:Poppins;
    color: #2c7da0;
}

.textholder > p{
    font-size: 18px;
    font-weight: 350;
    font-family: Poppins;
    width: 100%;
    text-align: center;
    line-height: 1.5;
    color: #373737;
}

@media screen and ( max-width: 820px) {
    #serivicediv{
        width: 100vw;
        height: max-content;
    
    }

    .textholder{
        width: 57%;
        height: 60%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .textholder > h1{
        font-size: 35px;
        font-weight: 700;
        color: #2c7da0;
    }
}

@media screen and ( max-width: 768px) {
    #serivicediv{
        width: 100%;
        height: max-content;
    }

    .textholder{
        width: 80%;
        height: 60%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .textholder > h1{
        font-size: 35px;
        font-weight: 700;
        color: #2c7da0;
    }
}

@media screen and ( max-width: 500px) {
    .serivicediv{
        width: 100%;
        height: max-content;
        /* background-color: green; */
    }

    .textholder{
        width: 90% !important;
        height: 60%;
        display: flex;
        flex-direction: column;
        gap: 15px;
        /* background-color: red; */
    }

    .textholder > h1{
        width: 100%;
        text-align: center;
        font-size: 35px;
        font-weight: 700;
        color: #2c7da0;
    }
    .textholder > p{
        width: 100%;
        text-align: center;
        font-size: 15px;
    }
}







@media screen and (width:428px) {
    .serivicediv{
        width: 100vw;
        height: 50vh;
        background-color: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .textholder{
        width: 57%;
        height: 90%;
        background-color: none;
        display: flex;
        align-items: center;
        flex-direction: none;
        justify-content: center;
    }

    .textholder > h1{
        font-size: 25px;
        font-weight: 500;
        font-family:poppins;
        color: #2c7da0;
        text-align: center;
    }

    .textholder > p{
        font-size: 15px;
        font-weight: 400;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        
    }
}
