*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* background-color: red; */
}

.Contactuspage{
    width: 100%;
    height: max-content;
    /* background-color: aqua; */
}


.ContactusMainpage{
    width: 100%;
    height: 100vh;
    /* background-color: blue; */
}

.ContactusHeropage{
    width: 100%;
    height: 80%;
    /* background-color: burlywood; */
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(public/Conatctusheropage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    object-fit: contain;


    
}

.ContactusHeroTextpage{
    width: 100%;
    height: 30%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content:center ;
}

.ContactusHeroText{
    width: 55%;
    height: 50%;
    /* background-color: darkgray; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
}

.ContactusHeroText h2{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 800;
    color: white;
}


.Contactuslistpage{
    width: 100%;
    height: 450px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: absolute; */
    /* top: 370px; */
    /* left: 250px; */

}

.Contactuslistpagewrapper{
    width: 85%;
    height: 80%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contactusmainlistpage{
    width: 55%;
    height: 90%;
    background-color: white;
    border-radius: 10px;
    border: solid #57B5B5 1px;
    display: flex;
}

.Contactusmainlistleftpage{
    width: 60%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contactusmainlistleftpagewrapper{
    width: 100%;
    height: 90%;
    /* background-color: red; */
}

.Contactusendmessgae{
    width: 100%;
    height: 13%;
    /* background-color: burlywood; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.Contactumainsendmessgae{
    width: 95%;
    height: 50%;
    /* background-color: darkmagenta; */
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.Contactumainsendmessgae h3{
    font-family: sans-serif;
    font-weight: 700;
    /* color: red; */
    font-size: 17px;
}

.Contacttlefirstname{
    width: 100%;
    height: 20%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contacttlemainfirstname{
    width: 95%;
    height: 100%;
    /* background-color: red; */
    display: flex;
}
.Contactusfirstnameleft{
    width: 50%;
    height: 100%;
    /* background-color: green; */
    /* display: flex; */

}

.Contactusfirstname{
    width: 100%;
    height: 25%;
    /* background-color: greenyellow; */
}

.Contactusfirstname p{
    font-size: 10px;
    font-family: sans-serif;
}

.Contactusfirstnamebox{
    width: 100%;
    height: 70%;
    /* background-color: darkorange; */
}

.Contactusfirstnamebox input{
    width: 95%;
    height: 50%;
    border-radius: 5px;
    border: solid #57B5B5 1px;
    border: hwb(hue white lightseagreen);
    padding: 7px;
    outline: none;

}

.Contactusfirstnameright{
    width: 50%;
    height: 100%;
    /* background-color: blueviolet; */
}

.Contactuslastnameright{
    width: 100%;
    height: 25%;
    /* background-color: brown; */
}

.Contactuslastnameright p{
    font-size: 10px;
    font-family: sans-serif;
}


.Contactuslastnamerightbox{
    width: 100%;
    height: 70%;
    /* background-color: darkgrey; */
}

.Contactuslastnamerightbox input{
    width: 95%;
    height: 50%;
    border-radius: 5px;
    border: solid #57B5B5 1px;
    border: hwb(hue white lightseagreen);
    padding: 7px;
    outline: none;

}

.Contactseconlistleftpage{
    width: 100%;
    height: 20%;
    /* background-color: darkred; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contactseconlistleftbox{
    width: 95%;
    height: 100%;
    /* background-color: aqua; */
}

.Contactseconlistleftemail{
    width: 100%;
    height: 25%;
    /* background-color: lightgreen; */
}

.Contactseconlistleftemail p{
    font-size: 10px;
    font-family: sans-serif;
}

.Contactseconlistleftemailinput{
    width: 100%;
    height: 50%;
    /* background-color: blueviolet; */
}

.Contactseconlistleftemailinput input{
    width: 48%;
    height: 70%;
    border-radius: 5px;
    border: solid  #57B5B5 1px;
    border: hwb(hue white lightseagreen);
    outline: none;
    padding-left: 7px;
}

.Contactustitletpage{
    width: 100%;
    height: 20%;
    /* background-color: blanchedalmond; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contactustitletpagebox{
    width: 95%;
    height: 100%;
    /* background-color: grey; */
}

.Contactustitlettitlebox{
    width: 100%;
    height: 25%;
    /* background-color: aqua; */
}

.Contactustitlettitlebox p{
    font-size: 10px;
    font-family: sans-serif;
}

.Contactustitlettitlinput{
    width: 100%;
    height: 50%;
    /* background-color: blueviolet; */
}

.Contactustitlettitlinput input{
    width: 98%;
    height: 70%;
    border-radius: 5px;
    border: solid  #57B5B5 1px;
    border: hwb(hue white lightseagreen);
    padding: 7px;
    outline: none;

}

.Contactusthowcanwehelpyou{
    width: 100%;
    height: 20%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contactusthowcanwehelpyouinput{
    width: 95%;
    height: 100%;
    /* background-color: green; */
}

.Contactusthowcanwehelpyouinput textarea{
    width: 98%;
    height: 100%;
    border-radius: 5px;
    border: solid #57B5B5 1px;
    border: hwb(hue white lightseagreen);
    padding: 7px;
    outline: none;

}

.Contactusdubmitform{
    width: 100%;
    height: 14%;
    /* background-color: hotpink; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contactusdubmitformbox{
    width: 95%;
    height: 100%;
    /* background-color: gray; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.Contactusdubmibtn{
    width: 28%;
    height: 60%;
    /* background-color: lightblue; */

}


.Contactumainsubmibtn{
    width: 95%;
    height: 100%;
    background-color: #2C7DA0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: solid  #57B5B5 1px;
    border: hwb(hue white lightseagreen);
}

.Contactumainsubmibtn button{
    width: 100%;
    height: 100%;
    background-color: #2C7DA0;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    /* border: solid  #57B5B5 1px; */
}

.Contactussendme{
    width: 30%;
    height: 50%;
    color: white;
}

.Contactumainsubmibtn p{
    color: white;
    font-family: sans-serif;
    font-size: 12px;
}

.Contactusmainlistrightpage{
    width: 40%;
    height: 100%;
    background-color: #2C7DA0;
    border-radius: 0px 10px 10px 0px;
}

.Contactusmainlistrightpageup{
    width: 100%;
    height: 45%;
    /* background-color: #11506b; */
}

.Contactusinforight{
    width: 100%;
    height: 25%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content:center ;
}

.Contactusinforighttbox{
    width: 60%;
    height: 100%;
    /* background-color: blueviolet; */
}

.Contactusinforighttext{
    width: 100%;
    height: 80%;
    /* background-color: green; */
    display: flex;
    align-items: center;
}

.Contactusinforighttext h3{
    font-family: sans-serif;
    font-size: 17px;
    color: white;
}

.Contactsecondinfotext{
    width: 100%;
    height: 30%;
    /* background-color: aqua; */
    display: flex;
    /* display: flex;
    align-self: center;
    justify-content: center; */
}

.Contactsecondinfobox{
    width: 30%;
    height: 100%;
    /* background-color: burlywood; */
}

.Contactsecondinfoboxicon{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ContactusCall{
    width: 45%;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #F9BB1D;

}

.Contactsecondinfobox2{
    width: 70%;
    height: 100%;
    /* background-color: blue; */
}

.Contactusecondinfoboxline1{
    width: 100%;
    height: 50%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contactusboxlinetext{
    width: 80%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
}

.Contactusboxlinetext h3{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.Contactdinfoboxline2{
    width: 100%;
    height: 50%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contactdinfolinetext2{
    width: 80%;
    height: 100%;
    /* background-color: aqua; */
}

.Contactdinfolinetext2 p{
    font-family: sans-serif;
    font-size: 7px;
    color: white;

}

.Contactusmainlistrightpage2{
    width: 100%;
    height: 30%;
    /* background-color: blue; */
    display: flex;
}

.Contactusmainlistrightbox{
    width: 30%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #F9BB1D;
}

.Contactusemail{
    width: 45%;
    height: 45%;

}

.Contactusmainlistrightbox2{
    width: 70%;
    height: 100%;
    /* background-color: blanchedalmond; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contactusemailrightbox2{
    width: 80%;
    height: 100%;
    /* background-color:darkorange; */
    /* display: flex;
    align-items: center; */
}

.Contactusemailrightline1{
    width: 100%;
    height: 50%;
    /* background-color: green; */
    display: flex;
    align-items: center;
}

.Contactusemailrightline1 h3{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: white;

}

.Contactusemailrightline2{
    width: 100%;
    height: 50%;
    /* background-color: gray; */
}

.Contactusemailrightline2 p{
    font-family: sans-serif;
    font-size: 7px;
    color: white;

}

.Contactusmainlistrightpagedown{
    width: 100%;
    height: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    /* background-image: url(public/istockphoto-1422643304-612x612.jpg); */
    /* background-position: center; */
    /* object-fit: cover; */
    /* object-fit: contain; */
}

.ContactusmainPr{
    width: 80%;
    height: 100%;
    /* background-color: brown; */
    background-image: url(public/Contactuspage2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* border-radius: 40px; */

}

.spacingcontactus{
    width: 100%;
    height: 20px;
    background-color: red;
}

@media only screen and (max-width:765px){
    .ContactusMainpage{
        width: 100%;
        height: 100vh;
        /* background-color: blue; */
    }

    .ContactusHeropage{
        width: 100%;
        height: 70%;
        background-size: cover;
        background-repeat: no-repeat;
        /* background-position: center; */
        object-fit: contain;
    }

    .ContactusHeroText h2{
        font-size: 25px;
    }

    .Contactuslistpagewrapper{
        width: 100%;
        height: 80%;
    }

    .Contactumainsendmessgae h3{
        font-size: 15px;
    }

    .Contactusfirstname p{
        font-size: 8px;
    }

    .Contactuslastnameright p{
        font-size: 8px;
    }

    .Contactseconlistleftemail p{
        font-size: 8px;
    }

    .Contactustitlettitlebox p{
        font-size: 8px;
    }

    .Contactusinforighttext h3{
        font-size: 15px;
    }

    .Contactusboxlinetext h3{
        font-size: 9px;
    }

    .Contactdinfolinetext2 p{
        font-size: 6px;
    }

    .Contactusemailrightline1 h3{
        font-size:9px ;
    }

    .Contactusemailrightline2 p{
        font-size: 6px;
    }

}
@media only screen and (max-width:428px){
    .ContactusMainpage{
        width: 100%;
        height: 100vh;
        /* background-color: blue; */
    }

    .ContactusHeropage{
        width: 100%;
        height: 70%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: contain;
    }

    .ContactusHeroText h2{
        font-size: 15px;
    }

    .Contactuslistpagewrapper{
        width: 100%;
        height: 65%;
    }

    .Contactumainsendmessgae h3{
        font-size: 11px;
    }

    .Contactusfirstname p{
        font-size: 6px;
    }

    .Contactuslastnameright p{
        font-size: 6px;
    }

    .Contactseconlistleftemail p{
        font-size: 6px;
    }

    .Contactustitlettitlebox p{
        font-size: 6px;
    }

    .Contactusinforighttext h3{
        font-size: 50%;
    }

    .Contactusboxlinetext h3{
        font-size: 6px;
    }

    .Contactdinfolinetext2 p{
        font-size: 4px;
    }

    .Contactusemailrightline1 h3{
        font-size:6px ;
    }

    .Contactusemailrightline2 p{
        font-size: 4px;
    }

    .Contactumainsubmibtn {
        width: 100%;
        height: 100%;
        /* background-color: red; */
    }

    .Contactusdubmibtn{
        width: 38%;
        height: 70%;
    }

    .Contactumainsubmibtn p{
        font-size: 7px;
    }

    .Contactussendme{
        width: 20%;
        height: 50%;
    }

}
@media only screen and (max-width:320px){
    .ContactusMainpage{
        width: 100%;
        height: 100vh;
        /* background-color: blue; */
    }

    .ContactusHeropage{
        width: 100%;
        height: 60%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        object-fit: contain;
    }

    .ContactusHeroText h2{
        font-size: 15px;
    }

    .Contactuslistpagewrapper{
        width: 100%;
        height: 45%;
    }

    .Contactumainsendmessgae h3{
        font-size: 9px;
    }

    .Contactusfirstname p{
        font-size: 5px;
    }

    .Contactuslastnameright p{
        font-size: 5px;
    }

    .Contactseconlistleftemail p{
        font-size: 5px;
    }

    .Contactustitlettitlebox p{
        font-size: 5px;
    }

    .Contactusinforighttext h3{
        font-size: 6px;
    }

    .Contactusboxlinetext h3{
        font-size: 5px;
    }

    .Contactdinfolinetext2 p{
        font-size: 3px;
    }

    .Contactusemailrightline1 h3{
        font-size:5px ;
    }

    .Contactusemailrightline2 p{
        font-size: 3px;
    }

    .Contactumainsubmibtn {
        width: 100%;
        height: 100%;
        /* background-color: red; */
    }

    .Contactusdubmibtn{
        width: 38%;
        height: 70%;
    }

    .Contactumainsubmibtn p{
        font-size: 6px;
    }

    .Contactussendme{
        width: 18%;
        height: 50%;
    }

    .Contactusthowcanwehelpyouinput textarea{
        width: 100%;
        height: 100%;
        initial-letter: 2px;
    }

}