*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* background-color: red; */
}

.Setnewpasswordpage{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
}

.Setnewpasswordmainpage{
    width: 100%;
    height:100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Setnewpasswordmainbody{
    width: 70%;
    height: 90%;
    /* background-color: burlywood; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.SetnewpasswordBody{
    width: 90%;
    height: 85%;
    /* background-color: blue; */
    display: flex;
}

.SetnewpasswordBodyleft{
    width: 45%;
    height: 100%;
    background-color:  #2c7da0;
    border: hwb(hue white lightseagreen);
    border-radius: 20px 0px 0px  20px;
}

.DocmatepasswordBodyleft{
    width: 100%;
    height: 15%;
    /* background-color: blue; */
}

.DocmatepasswordLogo{
    width: 30%;
    height: 100%;
    /* background-color: blueviolet; */
    /* background-image: url(public/DocMateNew2.jpg); */

    /* background-size: cover; */
}

.DocmatepasswordLogo img{
    width: 100%;
    height: 100%;
    /* background-position: center; */
    object-fit: contain;

}

.newpasswordBodyleftpicturebox{
    width: 100%;
    height: 75%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.SetnewpasswordBodyleftpicture{
    width: 70%;
    height: 90%;
    /* background-color: brown; */
    background-image: url(public/pexels-los-muertos-crew-84600941.png);
    background-position: center;
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: cover;
}

.SetnewpasswordBodyright{
    width: 55%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SetnewpasswordBodyrightwrapper{
    width: 80%;
    height: 60%;
    /* background-color: blueviolet; */
    /* border: solid lightblue 1px; */
    /* border-radius: 10px; */
}

.MainSetNewpasswordBodyright{
    width: 100%;
    height: 15%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
}

.MainSetNewpasswordBodyright h3{
    font-family: sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.MainSetNewpasswordBoxem{
    width: 100%;
    height: 15%;
    /* background-color: darkorange; */
}
.MainSetNewpasswordBox{
    width: 100%;
    height: 15%;
    /* background-color: darkorange; */
}

.MainSetNewpasswordBox input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
    border: solid lightblue 1px;
    padding: 7px;
}

.MainconfirmpasswordBoxem{
    width: 100%;
    height: 8%;
    /* background-color: red; */
}
.MainconfirmpasswordBox{
    width: 100%;
    height: 15%;
    /* background-color: red; */
}

.MainconfirmpasswordBox input{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    outline: none;
    border: solid lightblue 1px;
    padding: 7px;
}

.ConfirmpasswordBodyrightem{
    width: 100%;
    height: 15%;
    /* background-color: black; */
}
.ConfirmpasswordBodyright{
    width: 100%;
    height: 18%;
    /* background-color: black; */
    
}

.ConfirmpasswordBodyright button{
    width: 100%;
    height: 100%;
    background-color: #2c7da0;
    border: none;
    border-radius: 10px;
    color: white;
    border: hwb(hue white black);
    box-shadow: 0px 10px 5px 0px rgba(223,226,235,0.75);

}