#myView-btn:hover{
    background-color: #fff;
    color: #2c7da0;
}

#patientDetailTrunc{
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.date-record{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}
