.popUp-screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: poppins;
    background-color: #ffffff97;
    z-index: 4;
    backdrop-filter: blur(3px);
  }