.admin-dashboard-right{
    height: calc(100% - 67px);
    width: calc(100% - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 2;
    font-family: Rubik;
}

.admin-dashboard-right-wrapper{
    width: 95%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dashboard-overview{
    height: 10%;
    width: 100%;
    color: #373737;
}

.dashboard-main-content-container{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.select-dashboard-view-container{
    width: 100%;
    height: 72px;
    display: flex;
    gap: 20px;
}
.select-dashboard-view-wrapper{
    min-width: 170px;
    min-height: 100%;
    background-color: #2C7DA0;
    border-radius: 25px 25px 0px 0px;
    display: flex;
    align-items: end;
}

.select-dashboard-view-holder{
    width: 100%;
    height: max-content;
    background-color: #2C7DA0;
    color: #fff;
    padding-inline-start: 20px;
}
#active-state {
    color: #2C7DA0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.active-state-container{
    border-left: 3px solid #2C7DA0;
    background-color: #fff;
    color: #2C7DA0;
}

.selected-view-container{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}

/* Mobile view iphone-13 */
@media screen and (width <= 428px) {
    .admin-dashboard-right{
        min-width: 100%;
    }
    .select-dashboard-view-container{
        overflow-x: scroll;
        scrollbar-width: thin; /* Firefox */
        scrollbar-color: transparent transparent; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer and Edge */
    }
    .select-dashboard-view-container::-webkit-scrollbar {
        width: 6px;
      }
      .select-dashboard-view-container::-webkit-scrollbar-thumb {
        background-color: transparent;
      }
      .select-dashboard-view-container::-webkit-scrollbar-track {
        background-color: transparent;
      }
    .select-dashboard-view-wrapper{
        min-width: 150px;
        font-size: 14px;
    }
}

/* Mobile view iphone-5 */
@media screen and (width <= 320px) {
    .select-dashboard-view-wrapper{
        min-width: 120px;
        font-size: 11px;
        padding: 15px;
        padding-block-start: 20px;
        border-radius: 15px 15px 0px 0px;
    }
}

/*Tablet view*/
@media screen and (width <= 768px) {
    .admin-dashboard-right{
        width: calc(100% - 50px);
    }
}